<!DOCTYPE html>
<html>
<head>
	<title>Oops! Something went wrong.</title>
	<style type="text/css">
		body {
			background-color: #FED7D7;
			font-family: Arial, sans-serif;
			text-align: center;
			padding-top: 50px;
			color: #B91C1C;
		}

		h1 {
			font-size: 72px;
			margin-bottom: 10px;
		}

		p {
			font-size: 24px;
			margin-bottom: 30px;
		}

		img {
			max-width: 100%;
			height: auto;
			margin-bottom: 30px;
		}
	</style>
</head>
<body>
	<h1>Oops!</h1>
	<img src="{{ url_for('static', filename='dog.jpg') }}" alt="Cute Dog">
	<p>Something went wrong on our end. Please try again later.</p>
    <p><a href="/">Go back to the main page</a></p>
</body>
</html>
